<div class="container-fluid">
  <div class="row">
    <div *ngIf="structureLang && filterStructure" class="col-3">
      <app-leftpannel
        [language]="structureLang"
        [filter]="filterStructure"
        (selOpt)="optChange($event)"
      ></app-leftpannel>
    </div>
    <div class="col-9" style="margin-top: 3rem;">
      <h1 class="text-warning text-center">All Books</h1>
      <p>{{ n }}-{{ endIndex }} entries</p>
      <div class="row" *ngIf="books">
        <div
          class="col-3 bg-success border text-center"
          *ngFor="let b1 of books.items"
        >
          <div *ngIf="!b1.volumeInfo.imageLinks">No Image Avaiable</div>
          <img
            *ngIf="b1.volumeInfo.imageLinks"
            src="{{ b1.volumeInfo.imageLinks.smallThumbnail }}"
          />
          <h4>{{ b1.volumeInfo.title }}</h4>
          {{ b1.volumeInfo.authors }}<br />
          <div *ngIf="b1.volumeInfo.categories">
            {{ b1.volumeInfo.categories }}
          </div>
          <div *ngIf="!b1.volumeInfo.categories">NA</div>
        </div>
      </div>
      <div *ngIf="n <= 1" class="row text-center">
        <div class="col-12">
          <button class="btn-warning m-2" (click)="next()">Next</button>
        </div>
      </div>
      <div *ngIf="n > 1" class="row">
        <div class="col-6 text-left">
          <button class="btn-warning m-2" (click)="previous()">Previous</button>
        </div>
        <div class="col-6 text-right">
          <button class="btn-warning m-2" (click)="next()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
