<div class="container-fluid">
  <nav class="navbar navbar-fluid navbar-expand navabr-dark bg-light">
    <app-dropdown
      (selOption)="optChange($event)"
      [option]="options"
      [selOpt]="selOpt"
    ></app-dropdown>
  </nav>
  <div *ngIf="s">
    <app-search (text)="search($event)" [searchtxt]="searchtxt"></app-search>
  </div>
  <router-outlet *ngIf="s == false"></router-outlet>
</div>
