<div style="margin-top: 3rem; margin-left: 3rem;">
  <div class="border p-3 font-weight-bold">
    Language
  </div>
  <div class="border p-3" *ngFor="let l1 of language.language">
    <input
      type="radio"
      class="m-1"
      id="{{ l1.lang }}"
      value="{{ l1.val }}"
      name="radio01"
      checked="l1==language.selected"
      [(ngModel)]="language.selected"
      (change)="emitChange()"
    />{{ l1.lang }}
  </div>
  <hr />
  <div class="border p-3 font-weight-bold">
    Filter
  </div>
  <div class="border p-3" *ngFor="let f1 of filter.filters">
    <input
      type="radio"
      class="m-1"
      id="{{ f1.fil }}"
      name="radio02"
      value="{{ f1.val }}"
      checked="f1==filter.selected"
      [(ngModel)]="filter.selected"
      (change)="emitChange()"
    />{{ f1.fil }}
  </div>
</div>
