<i class="fa fa-book m-1"></i>
<select [(ngModel)]="selOpt" (change)="emitChange(selOpt)">
  <option value="" selected>Options</option>
  <option *ngFor="let o1 of option" value="{{ o1 }}">{{ o1 }}</option>
</select>
