<div class="row text-center">
  <div class="col-12 text-center m-2">
    <img
      style="border-radius: 50%; width: 30%; height: 80%;"
      src="https://now.tufts.edu/sites/default/files/191203_winter_books_lg.jpg"
    />
  </div>
</div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-7 mr-3">
    <input class="form-control" [(ngModel)]="searchtxt" />
  </div>
  <div class="col-3 ml-3">
    <button class="btn-primary m-2" (click)="emitSearch()">Search</button>
  </div>
</div>
